<!DOCTYPE html>
<html>

    <head>
        <title>CoCodingStudio | editor</title>
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}"/>
        <meta http-equiv="Content-Security-Policy" content="script-src 'self';">
    </head>

    <body>
        <div class="bgColorContrast" id="projectBar">
            <div id="projectBarLeft">
                <h1 id="projectName">Project: {{projectName}}</h1>
                <button class="btn"> < </button>
            </div>
            <button class="btn"><img id="settingsIcon" src="{{url_for('static', filename='settingsIcon.png')}}"></button>
        </div>
        <div class="bgColorMain" id="mainEditorBlock"></div>
    </body>

</html>